[submodule "d4n-apache-nifi"]
	path = d4n-apache-nifi
	url = https://code.officialstatistics.org/d4n-it-skeleton-pipeline/d4n-apache-nifi.git
[submodule "d4n-dagster"]
	path = d4n-dagster
	url = https://code.officialstatistics.org/d4n-it-skeleton-pipeline/d4n-dagster.git
[submodule "d4n-jupiterhub"]
	path = d4n-jupiterhub
	url = https://code.officialstatistics.org/d4n-it-skeleton-pipeline/d4n-jupiterhub.git
[submodule "d4n-minio"]
	path = d4n-minio
	url = https://code.officialstatistics.org/d4n-it-skeleton-pipeline/d4n-minio.git
[submodule "d4n-trino"]
	path = d4n-trino
	url = https://code.officialstatistics.org/d4n-it-skeleton-pipeline/d4n-trino.git
